{% extends 'base.html' %}
{% load static %}
{% block title %}Comentários{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'tarefas/css/style.css' %}">
{% endblock %}
{% block content %}
    <a href="{% url 'tarefa_list' %}" title="Voltar">
        <i class="botao-voltar bi bi-arrow-left-circle-fill"></i>
    </a>
    <div>
    <h1 class="text-center">{{ tarefa.nome }}</h1>
    
    <div class="botao-adicao d-flex justify-content-end">
        <a class="btn btn-primary rounded-circle shadow" href="{% url 'comentario_create' tarefa.id %}"style="width: 45px; height: 45px; display: flex; align-items: center; justify-content: center;" title="Adicionar Comentário">
            <i class="bi bi-plus-lg" style="font-size: 1.2rem;"></i>
        </a>      
    </div>
    
    <div class="mt-5">
    {% for comentario in comentarios %}
        <div class="card mb-3">
            <div class="card-body d-flex flex-column justify-content-between gap-3">
                
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div class='small fw-light'>{{ comentario.criado_em }}</div>
                    <div>
                        <button type="button"
                                class="btn btn-danger disable-on-submit"
                                data-bs-toggle="modal"
                                data-comentario-conteudo="{{ comentario.comentario }}"
                                data-comentario-id='{{ comentario.id }}'
                                data-bs-target="#modalConfirmarExclusao">
                            <i class="bi bi-trash botao-acao"></i>
                        </button>
                    </div>
                </div>
                {{ comentario.comentario|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p class="text-center text-muted"></i>Não existem comentários para esta tarefa. <i class="bi bi-chat-dots-fill aviso-comentario"></i></p>
    {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalConfirmarExclusao" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir comentário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo, como um formulário Django -->
                <form method="POST" id="formConfirmarExclusao">
                    {% csrf_token %}
                    <p>Confirma a exclusão do comentário: <strong id="corpoModal"></strong></p>
                    <div class="modal-footer">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <script>
        function confirmarExclusao(event){
            let botao = event.relatedTarget;
                let idComentario = botao.getAttribute('data-comentario-id');
                let conteudoComentario = botao.getAttribute('data-comentario-conteudo');
                let corpoModal = document.getElementById('corpoModal');
                if (conteudoComentario.length > 20){
                    corpoModal.innerText = `${conteudoComentario.slice(0, 20)}...`;
                }else {
                    corpoModal.innerText = `${conteudoComentario}`;
                }
                formulario = document.getElementById('formConfirmarExclusao');
                formulario.action = `/tarefas/comentarios/${idComentario}/deletar/`
        }

        

        document.addEventListener('DOMContentLoaded', function(){
            let modalConfirmacao = document.getElementById('modalConfirmarExclusao');

            modalConfirmacao.addEventListener('show.bs.modal', function (event){
                confirmarExclusao(event);
            });
        });
    </script>

{% endblock %}