{% extends 'base.html' %}
{% block title %}Visualizar tarefas{% endblock %}
{% block content %}

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Criado em</th>
        <th scope="col">Tipo</th>
        <th scope="col">Nome</th>
        <th scope="col">Status</th>
        <th scope="col">Prazo</th>
        <th scope="col">Possui Lembrete?</th>
        <th scope="col">Ações</th>

      </tr>
    </thead>
    <tbody>
        {% for tarefa in tarefas %}
      <tr>
        <th scope="row">{{ tarefa.criado_em|date:"d/m/Y H:i" }}</th>
        <td>{{ tarefa.tipo }}</td>
        <td>{{ tarefa.nome }}</td>
        <td>{{ tarefa.status }}</td>
        <td>{{ tarefa.prazo|default:"Sem data" }}</td>
        <td>{% if tarefa.com_lembrete %}Sim{% else %}Não{% endif %}</td>
        <td >
            <div class="d-flex gap-1">
            <a href="#" class="btn btn-primary" data-tarefa-id="{{ tarefa.id }}" data-bs-toggle="modal" data-bs-target="#modalVisualizacaoConfirmarAcao">
              <i class="bi bi-eye-fill"></i></a>
            <a href="#" class="btn btn-success"><i class="bi bi-pencil-fill"></i></a>
            <a href="#" class="btn btn-danger disable-on-submit abrirModalExclusao" data-tarefa-id="{{ tarefa.id }}" data-bs-toggle="modal" data-bs-target="#modalVisualizacaoConfirmarAcao">
              <i class="bi bi-x-circle-fill"></i>
            </a>
            </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan=7 class="text-center">Não existem tarefas cadastradas com as especificações selecionadas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Modal Visualização e Confirmação de Exclusão-->
  <div class="modal fade" id="modalVisualizacaoConfirmarAcao" tabindex="-1" aria-labelledby="confirmarAcao" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tituloModal"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Criado em: <strong id="criadoEm"></strong></p>
          <p>Tipo: <strong id="tipo"></strong></p>
          <p>Status: <strong id="status"></strong></p>
          <p>Prazo: <strong id="prazo"></strong></p>
          <p>Prioridade: <strong id="prioridade"></strong></p>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="d-none btn" id="botaoVisualizarConfirmarAcao">Excluir</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edição-->
  <div class="modal fade" id="modalVisualizacaoConfirmarAcao" tabindex="-1" aria-labelledby="confirmarAcao" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tituloModal"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Criado em: <strong id="criadoEm"></strong></p>
          <p>Tipo: <strong id="tipo"></strong></p>
          <p>Status: <strong id="status"></strong></p>
          <p>Prazo: <strong id="prazo"></strong></p>
          <p>Prioridade: <strong id="prioridade"></strong></p>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="d-none btn" id="botaoVisualizarConfirmarAcao">Excluir</button>
        </div>
      </div>
    </div>
  </div>


  {% csrf_token %}

  <script>
    function formatarData(dataApi){
      const data = new Date(dataApi);
      const opcoesDeData = {
        day: '2-digit', 
        month: '2-digit', 
        year: 'numeric',  
        hour: '2-digit',  
        minute: '2-digit',
        hour12: false,  
        timeZone: 'America/Sao_Paulo' 
      };
      const formatador = new Intl.DateTimeFormat('pt-BR', opcoesDeData);
      const dataFormatada = formatador.format(data);
      return dataFormatada
    }

    function exibirDetalhesDaTarefa(json, botaoAcionador, botaoConfirmacaoElemento){
      const isExclusao = botaoAcionador.classList.contains('abrirModalExclusao');
      //Titulo do modal 
      const tituloModal = document.getElementById('tituloModal');
      // corpo do modal
      const criadoEm = document.getElementById('criadoEm');
      const tipo = document.getElementById('tipo');
      const status = document.getElementById('status');
      const prazo = document.getElementById('prazo');
      const prioridade = document.getElementById('prioridade');
      // mostrando os dados
      criadoEm.textContent = formatarData(json.criado_em);
      tipo.textContent = json.tipo;
      status.textContent = json.status;
      if (json.prazo){
        prazo.textContent = formatarData(json.prazo);
      }else{
        prazo.textContent = "Sem data";
      }
      
      prioridade.textContent = json.prioridade;

      botaoConfirmacaoElemento.classList.remove('btn-danger');
      // verificando se o botão selecionado é o de excluir modal
      if (isExclusao){
        tituloModal.textContent = `Confirma a exclusão da tarefa ${json.nome}?`;
        // Exibindo o botão de exclusão
        botaoConfirmacaoElemento.classList.remove('d-none');
        botaoConfirmacaoElemento.classList.add('btn-danger')
        botaoConfirmacaoElemento.textContent = "Excluir";
      }else{
        tituloModal.textContent = `Detalhes da tarefa ${json.nome}`;
        botaoConfirmacaoElemento.classList.add('d-none');
      }
    }

    document.addEventListener('DOMContentLoaded', (event)=>{
      const modal = document.getElementById('modalVisualizacaoConfirmarAcao');

      modal.addEventListener('shown.bs.modal', (event)=>{
        // Botão que acionou o modal
        const botao = event.relatedTarget;
        // obtendo csrf_token
        const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // extraindo informações 
        const idTarefa = botao.dataset.tarefaId;
        // urls
        const urlConsultaDados = `/tarefas/api-consultar-tarefa/${idTarefa}`;
        const urlExcluirTarefa = `/tarefas/exluir-tarefa/${idTarefa}`;
        // botão de confirmação
        const botaoVisualizarConfirmarAcao = document.getElementById('botaoVisualizarConfirmarAcao')

        fetch(urlConsultaDados, {
          headers: {
              'Content-Type': 'application/json', 
              'X-CSRFToken': csrf_token,
          }
        })
        .then(response =>{
          if (response.ok){
            return response.json();
          }else{
            alert('Erro ao fazer requisição!');
          }
        })
        .then(json =>{
          exibirDetalhesDaTarefa(json, botao, botaoVisualizarConfirmarAcao);
        })
        .catch(error =>{
          console.log('Erro durante a requisição ', error);
        });
        
        botaoVisualizarConfirmarAcao.addEventListener('click', function(){
          window.location.href = `/tarefas/excluir-tarefa/${idTarefa}`;
        }, { once: true })
      })
    });
  </script>
{% endblock %}