{% extends 'base.html' %}
{% block title %}Novo Entretenimento{% endblock %}
{% block content %}
    <a href="{% url 'entretenimento_list' %}" title="Voltar">
        <i class="botao-voltar bi bi-arrow-left-circle-fill"></i>
    </a>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="text-center mb-4">Novo Entretenimento</h1>
            <form class="border rounded-4 p-4" action="." method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label fw-bold">
                            {{ field.label }}
                        </label>
                        {{ field }}            
                        
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}